/* write your css here */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
nav {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 0.5em;
}
nav ul {
    margin: 0px;
    padding: 0px;
}
nav li {
    padding: 0.7em;
    border: solid white 1px;
    list-style: none;
    line-height: 1;
    text-align:center;
    display:inline-block;
    margin: 5px;
}
nav a {
    text-decoration: none;
    color: white;
}