/* write your css here */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.gallery-img {
    width:95%;
    padding: 5px;
}
@media only screen and (min-width: 40.063em) {
    .gallery-img {
        width:47%;
        padding: 5px;
    }
}
@media only screen and (min-width: 64.063em) {
    .gallery-img {
        width:29%;
        padding: 5px;
    }    
    
}